@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#border_container {
    padding: 50px;
    border: solid 1px rgb(218, 218, 218);
    border-radius: 10px;
}

#Signin_Text {
    font-weight: 400;
}

@media (max-width: 610px) {
    #border_container {
        border: none;
    }
}
